
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/enlight-master/css/styles-merged.css">
    <link rel="stylesheet" href="~/enlight-master/css/style.min.css">
    <link rel="stylesheet" href="~/enlight-master/css/custom.css">   
    <link href="~/fnt/css/all.css" rel="stylesheet">
    <script src="~/enlight-master/js/vendor/html5shiv.min.js"></script>
    <script src="~/enlight-master/js/vendor/respond.min.js"></script>
  </head>
  <body>
      <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      <div class="probootstrap-header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
              <span><i class="icon-location2"></i>Düzce Üniversitesi Konuralp Yerleşkesi Yörük Mah. Merkez/DÜZCE, 81620</span>
              <span><i class="icon-phone2"></i>0850 800 81 81</span>
              <span><i class="icon-mail"></i>info@duzce.edu.tr</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
              <ul>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="/Admin/Index"><i class="fas fa-user-cog"></i></a></li>             
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="btn-more js-btn-more visible-xs">
              <a href="#"><i class="icon-dots-three-vertical "></i></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" title="Düzce Üniversitesi"></a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Üniversitemiz</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Düzce</a></li>
                  <li><a href="#">Kuruluş</a></li>
                  <li><a href="#">İlkler</a></li>
                  <li><a href="#">İdari Birimler</a></li>
                  <li><a href="#">İş Birlikleri</a></li>
                  <li><a href="#">Tanıtım Filmleri/Fotoğraf Galerisi</a></li>
                  <li><a href="#">Yönetmelik ve Yönergeler</a></li>
                  <li><a href="#">Bilgi Güvenliği Politikamız</a></li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Yönetim</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Rektör</a></li>
                      <li><a href="#">Rektör Yardımcıları</a></li>
                      <li><a href="#">Senato</a></li>
                      <li><a href="#">Yönetim Kurulu</a></li>
                      <li><a href="#">Genel Sekreter</a></li>
                      <li><a href="#">Teşkilat Şeması</a></li>
                      <li><a href="#">Senato ve Yönetim Kurulu Kararları</a></li>
                      <li><a href="#">Rektörlerimiz</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sayılarla DÜ</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Öğrenci Sayıları</a></li>
                      <li><a href="#">Personel Sayıları</a></li>
                      <li><a href="#">Bölüm ve Program Sayıları</a></li>
                      <li><a href="#">Fikri Mülkiyet</a></li>
                      <li><a href="#">Derslik</a></li>
                      <li><a href="#">Kapalı Alan</a></li>
                      <li><a href="#">Üniversite İzleme ve Değerlendirme Raporu</a></li>
                      <li><a href="#">Bütçe</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sıralamalar</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">URAP</a></li>
                      <li><a href="#">THE</a></li>
                      <li><a href="#">Girişimcilik Endeksi</a></li>
                      <li><a href="#">Green Metric</a></li>
                      <li><a href="#">İnnovaLig</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Kurumsal Strateji</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Stratejik Plan 2020-2024</a></li>
                      <li><a href="#">Kalite Politikası</a></li>
                      <li><a href="#">Sürekli İyileştirme</a></li>
                      <li><a href="#">KİDR</a></li>
                      <li><a href="#">Sürdürülebilirlik Raporu</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Kampüs Yaşamı</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Yeme/İçme</a></li>
                      <li><a href="#">Spor Merkezleri</a></li>
                      <li><a href="#">Ulaşım</a></li>
                      <li><a href="#">Barınma</a></li>
                    </ul>
                  </li>                 
                </ul>
              </li>              
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Akademik</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Kurullar</a></li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Fakülteler</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Akçakoca Bey Siyasal Bilgiler Fakültesi</a></li>
                      <li><a href="#">Eğitim Fakültesi</a></li>
                      <li><a href="#">Fen Edebiyat Fakültesi</a></li>
                      <li><a href="#">İlahiyat Fakültesi</a></li>
                      <li><a href="#">İşletme Fakültesi</a></li>
                      <li><a href="#">Mühendislik Fakültesi</a></li>
                      <li><a href="#">Orman Fakültesi</a></li>
                      <li><a href="#">Sağlık Bilimleri Fakültesi</a></li>
                      <li><a href="#">Sanat,Tasarım ve Mimarlık Fakültesi</a></li>
                      <li><a href="#">Spor Bilimleri Fakültesi</a></li>
                      <li><a href="#">Tıp Fakültesi</a></li>
                      <li><a href="#">Ziraat Fakültesi</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Enstitüler</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Lisansüstü Eğitim Enstitüsü</a></li>
                      <li><a href="#">Güzel Sanatlar Enstitüsü</a></li>
                      <li><a href="#">Fen Bilimleri Enstitüsü</a></li>
                      <li><a href="#">Sağlık Bilimleri Enstitüsü</a></li>
                      <li><a href="#">Sosyal Bilimler Enstitüsü</a></li>            
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Yüksekokullar</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Akçakoca Turizm İşl. ve O.Y.O.</a></li>
                      <li><a href="#">Hakime ERCİYAS Yabancı Diller Yüksekokulu</a></li>       
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Meslek Yüksekokulları</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Akçakoca MYO</a></li>
                      <li><a href="#">Çilimli MYO</a></li>
                      <li><a href="#">Düzce MYO</a></li>
                      <li><a href="#">Dr. Engin PAK Cumayeri MYO</a></li>
                      <li><a href="#">Gölyaka MYO</a></li>
                      <li><a href="#">Gümüşova MYO</a></li>
                      <li><a href="#">Kaynaşlı MYO</a></li>
                      <li><a href="#">Ormancılık MYO</a></li>
                      <li><a href="#">Sağlık Hizmetleri MYO</a></li>
                      <li><a href="#">Sosyal Bilimler MYO</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Bölüm Başkanlıkları</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Atatürk İlkeleri ve İnkılap Tarihi Bölümü</a></li>
                      <li><a href="#">Türk Dili</a></li>
                    </ul>
                  </li>                 
                </ul>
              </li>  
               <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Araştırma</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Araştırma Merkezleri</a></li>                                
                  <li><a href="#">Laboratuvar Envanteri</a></li>                                
                  <li><a href="#">Yayınlar Projeler</a></li>                                
                  <li><a href="#">Hakemli Dergiler</a></li>                                
                  <li><a href="#">Teknoloji Transfer Ofisi</a></li>                           
                </ul>
              </li> 
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">İhtisaslaşma</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Program Kapsamı</a></li>                                                        
                  <li><a href="#">Tıbbi Bitki Yetiştiriciliği</a></li>                                                        
                  <li><a href="#">Ürünler/Markalar</a></li>                                                        
                  <li><a href="#">Üretim Merkezi</a></li>                                                        
                  <li><a href="#">Geleneksel ve Tamamlayıcı Tıp Faaliyetleri</a></li>                                                        
                  <li><a href="#">Tarımsal Atıkların Geri Kazanımı Faaliyetleri</a></li>                                                        
                  <li><a href="#">Arıcılık / Arı Ürünleri</a></li>                                                        
                  <li><a href="#">Bilimsel Yayınlar</a></li>                                                        
                  <li><a href="#">İşbirlikleri</a></li>                                                        
                  <li><a href="#">Etkinlikler</a></li>                                                                                                             
                </ul>
              </li> 
              <li><a href="#">DÜ Yayınlar</a></li>
              <li><a href="#">DÜ Duyurular</a></li>
            </ul>
          </div>
        </div>
      </nav>
      @RenderBody()
      <section class="probootstrap-cta">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Get your admission now!</h2>
              <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Enroll</a>
            </div>
          </div>
        </div>
      </section>
      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>About The School</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident suscipit natus a cupiditate ab minus illum quaerat maxime inventore Ea consequatur consectetur hic provident dolor ab aliquam eveniet alias</p>
                <h3>Social</h3>
                <ul class="probootstrap-footer-social">
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-linkedin"></i></a></li>
                  <li><a href="#"><i class="icon-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-md-push-1">
              <div class="probootstrap-footer-widget">
                <h3>Links</h3>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Teachers</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                  <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                  <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                </ul>
              </div>
            </div>
           
          </div>
          <!-- END row -->
          
        </div>

        <div class="probootstrap-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <p>&copy; 2017 <a href="https://probootstrap.com/">ProBootstrap:Enlight</a>. All Rights Reserved. Designed &amp; Developed with <i class="icon icon-heart"></i> by <a href="https://probootstrap.com/">ProBootstrap.com</a></p>
              </div>
              <div class="col-md-4 probootstrap-back-to-top">
                <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
</div>     
    <script src="~/enlight-master/js/scripts.min.js"></script>
    <script src="~/enlight-master/js/main.min.js"></script>
    <script src="~/enlight-master/js/custom.js"></script>
  </body>
  </html>