@model Tez.Models.DuyuruView

@{
    ViewData["Title"] = "AddPost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Blog Posts</span>
        <h3 class="page-title">Add New Post</h3>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <!-- Add New Post Form -->
            <div class="card card-small mb-3">
                <div class="card-body">
                    <input class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title" name="Baslik">
                    <textarea name="Aciklama" style="width:100%;height:200px"></textarea>
                </div>
            </div>
            <!-- / Add New Post Form -->
        </div>
        <div class="col-lg-3 col-md-12">
            <!-- Post Overview -->
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Actions</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <span class="d-flex mb-2 ml-auto">
                                <i class="material-icons mr-1">flag</i>
                                <strong class="mr-1">File: </strong>
                                <input type="file" name="ImageUrl" style="margin-left:auto" accept="image/*"/>
                            </span>                                                
                        </li>
                        <li class="list-group-item d-flex px-3">                         
                            <button class="btn btn-sm btn-accent ml-auto">
                                <i class="material-icons">file_copy</i> Publish
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>


